body{
    font-family: 'Inter', sans-serif;
}
header{
  height: 61px;
}
a{
    color: inherit;
    text-decoration: none;
}
.sidebar-fixed {
  width: 255px;
}
.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
}
.header-fluid {
  width: calc(100% - 255px);
}
.link-hover{
    transition: all 0.3s ease;
    color: var(--color-gray);
}
.link-hover:hover{
    background: rgba(241, 245, 249, 1);
    color: rgb(34, 83, 255);
    border-radius: 10px;
}
.content{
  position: absolute;
  top: 0;
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
  right: 0;
  background: rgba(248, 250, 252 ) ;
}
.card-hover {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); /* лёгкая тень снизу */
  border-radius: 0.75rem; /* для мягких углов, по желанию */
}

.card-hover:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* тень больше и мягче */
  transform: translateY(-1px); /* лёгкий подъём вперёд */
  z-index: 2;
}
.hovered-link{
  color: rgb(79, 136, 255);
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
}
.hovered-link:hover{
  background: #f1f5f9;
  color: rgb(34, 83, 255);
}
.meal-img{
  width: 64px;
  height: 64px;
}
.file-upload {
  border: 2px dashed #d0d5dd;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 340px;
  font-family: sans-serif;
  transition: border-color 0.3s;
  position: relative;
}
.file-upload.dragover {
  border-color: #4c9aff;
  background-color: #f0faff;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  width: 40px;
  margin-bottom: 12px;
  opacity: 0.6;
}

.upload-button {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  cursor: pointer;
  font-weight: 600;
}

.file-input {
  display: none;
}
.progress-line{
  background: rgb(241, 245, 249);
  height: 6px;
  width: 100%;
  border-radius: 10px;
}
.progress-line-inside{
  background: #4c9aff;
  height: 6px;
  border-radius: 10px;
}
.close-btn-custom{
  border: none;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 5px 10px;
}
.close-btn-custom:hover{
  background: var(--main-bg);
}
.card-hover-bg{
  transition: all 0.3s ease;
  background: transparent;
  border: 1px solid rgb(241, 245, 249);
}
.card-hover-bg:hover{
  background: var(--main-bg);
}
.hovered-btn{
  transition: all 0.3s ease;
  border: none;
  background: transparent;
  padding: 8px 12px;
  border-radius: 10px;
}
.hovered-btn:hover{
  background: #f1f5f9;
}
.rounded-flag {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.flag-icon{
  width: 25px;
}
@media(max-width: 990px){
    .header-fluid {
        width: 100%;
    }
}