body{
    font-family: 'Inter', sans-serif;
}
header{
  height: 61px;
}
a{
    color: inherit;
    text-decoration: none;
}
.sidebar-fixed {
  width: 255px;
}
.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
}
.header-fluid {
  width: calc(100% - 255px);
}
.link-hover{
    transition: all 0.3s ease;
    opacity: 0.8;
}
.link-hover:hover{
    background: rgba(241, 245, 249, 1);
    color: rgb(34, 83, 255);
    border-radius: 10px;
    opacity: 1;
}
.content{
  position: absolute;
  top: 0;
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
  right: 0;
  background: rgba(248, 250, 252 ) ;
}
.card-hover {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); /* лёгкая тень снизу */
  border-radius: 0.75rem; /* для мягких углов, по желанию */
  background-color: #fff;
}

.card-hover:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* тень больше и мягче */
  transform: translateY(-1px); /* лёгкий подъём вперёд */
  z-index: 2;
}
.hovered-link{
  color: rgb(79, 136, 255);
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
}
.hovered-link:hover{
  background: #f1f5f9;
  color: rgb(34, 83, 255);
}
.meal-img{
  width: 64px;
  height: 64px;
}
@media(max-width: 990px){
    .header-fluid {
        width: 100%;
    }
}