.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-md {
    font-size: 0.95rem;
    line-height: 1rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
@media(max-width: 576px){
    .text-xl.fs-extra-smaller{
        font-size: 1.25rem;
    }
    .text-md.fs-extra-smaller{
        font-size: 0.75rem;
    }
    h2.fs-smaller{
        font-size: 1.2rem;
    }
    .text-lg.fs-smaller{
        font-size: 0.9rem;
    }
    .text-2xl.fs-extra-smaller{
        font-size: 1.1rem;
    }
    .text-sm.fs-larger{
        font-size: 1rem;
    }
}
@media(max-width: 420px){
    .text-xl.fs-extra-smaller{
        font-size: 0.95rem;
    }
    .text-md.fs-extra-smaller{
        font-size: 0.8rem;
    }
    h2.fs-smaller{
        font-size: 1.1rem;
    }
    .text-lg.fs-smaller{
        font-size: 0.8rem;
    }
}