.text-corp{
    color: var(--color-corp);
}
.text-gray{
    color: var(--color-gray);
}
.text-dark-custom{
    color: var(--color-dark);
}
.text-green{
    color: rgb(34, 197,94);
}
.bg-corp{
    background: var(--color-corp);
}
.bg-corp-light{
    background: var(--color-bg);
}
.bg-green{
    background: var(--color-green);
}
.bg-blue{
    background: var(--color-blue);
}
.bg-yellow{
    background: var(--color-yellow);
}
.bg-smoke{
    background: rgb(148, 163, 184);
}
.h-100vh{
    height: 100vh;
}
.h-fit-content{
    height: fit-content;
}
.bordered-corp{
    border: 1px solid rgb(224, 237,255);
}