.text-corp{
    color: var(--color-corp);
}
.text-gray{
    color: var(--color-gray);
}
.text-dark-custom{
    color: var(--color-dark);
}
.text-green{
    color: rgb(34, 197,94);
}
.text-dark-blue{
    color: var(--color-dark-blue);
}
.text-smoke{
    color: var(--color-text);
}
.text-dirt{
    color: var(--color-dirt);
}
.text-danger-custom{
    color: #FF7272;
}
.bg-corp{
    background: var(--color-corp);
}
.bg-corp-light{
    background: var(--color-bg);
}
.bg-green{
    background: var(--color-green);
}
.bg-blue{
    background: var(--color-blue);
}
.bg-yellow{
    background: var(--color-yellow);
}
.bg-red{
    background: rgb(254, 226, 226);
}
.bg-smoke{
    background: rgb(148, 163, 184);
}
.bg-main{
    background: var(--main-bg);
}
.bg-milk{
    background: var(--color-milk);
}
.bg-online{
    background-color: #47B039;
}
.h-100vh{
    height: 100vh;
}
.h-fit-content{
    height: fit-content;
}
.bordered-corp{
    border: 1px solid rgb(224, 237,255);
}
.border-dashed {
    border: 1px dashed rgba(223, 229, 240, 1); 
}
.btn-long{
    padding: 10px 70px;
}
.underlined-corp{
    border-bottom: 2px solid #88BAFB;
}
.h-sm-100vh{
    height: 100%;
}
.w-fit-content{
    width: fit-content;
}
.w-lg-fit-content{
    width: fit-content;
}
@media(max-width: 990px){
    .h-sm-100vh{
        height: 100vh;
    }
    .w-lg-fit-content{
        width: 100%;
    }
}