:root{
    --color-corp: #4c9aff;
    --color-bg: rgb(237, 245, 255 );
    --color-green: rgb(220, 252, 231);
    --color-blue: rgb(219, 234, 254);
    --color-yellow: rgb(254, 243, 199);
    --color-gray: rgb(100, 116 ,139);
    --color-dark: rgb(30,  41,  59);
    --main-bg: rgb(248, 250, 252);
    --color-dark-blue: rgb(29, 78 ,216);
}